@model Umbraco.Headless.Client.Samples.MVC.Models.HeroViewModel

<section class="hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))
@if (Model.ImageUrl != null){<text>, url(@Model.ImageUrl?width=1980&height=430&mode=crop)</text>};">
  <h1 class="hero__title">@Model.Title</h1>
  @if (string.IsNullOrEmpty(Model.SubTitle) == false)
  {
    <h2 class="hero__subtitle">@Model.SubTitle</h2>
  }
</section>

