<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Umbraco.Headless.Client.Samples.Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header class="main-head">
    <vc:main-navigation/>
</header>
<main role="main" class="main-content">
    @RenderBody()
</main>
<footer class="main-footer">
    &copy; 2019 - Umbraco.Headless.Client.Samples.Web
</footer>
</body>
</html>
